@font-face {
    font-family: AvenirBlack;
    font-weight: bold;
    src: url("../assets/fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirBook;
    src: url("../assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: MinionPro;
    src: url("../assets/fonts/MinionPro-Regular.otf") format("opentype");
}

html {
    font-size: 1rem;
}

body {
    position: relative;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

a{
    color: white;
    transition: 0.9s;
}

a:hover {
    color: #5689be;
    transition: 0.25s;
    text-decoration: none;
}

nav {
    background-color: rgba(40, 60, 88, 0.8);
}

@media (max-width: 575px) {
    .container {
       width: 100%;
    }

    .jumbotron {
        margin-top: 52px;
    }
 }

#landing-banner {
    background-image: url("../assets/img/landing-banner.png");
}

#register-narrow {
    visibility: hidden;
    margin-top: -2.25rem;
}

@media (max-width: 768px) {
    #register-wide {
        visibility: hidden;
    }

    #register-narrow {
        visibility: visible;
    }
}

#info-banner {
    background-color: #c0dfff;
    color: black;
}

#going-banner {
    background-color: #606f7f;
}

#sponsors-banner {
    background-color: #ffcb73;
    color: #9e742a;
}

#speakers-banner {
    background-image: url("../assets/img/speakers-banner.png");
}

.banner-divider {
    height: 4px;
}

.drop-shadow {
    box-shadow: inset 0 8px 80px -10px #353535;
}

.text-light {
    color: #ddd;
}