@font-face {
    font-family: AvenirBlack;
    font-weight: bold;
    src: url("../assets/fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirBook;
    src: url("../assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: MinionPro;
    src: url("../assets/fonts/MinionPro-Regular.otf") format("opentype");
}

html {
    font-size: 1rem;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

a{
    color: white;
    transition: 0.9s;
}

a:hover {
    color: #5689be;
    transition: 0.25s;
    text-decoration: none;
}

nav {
    background-color: rgba(40, 60, 88, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 575px) {
    .container {
       width: 100%;
    }

    .jumbotron {
        padding-top: 66px;
    }
 }

#landing {
    background-image: url("../assets/img/landing-banner.png");
}

#register-narrow {
    visibility: hidden;
    margin-top: -2.25rem;
}

@media (max-width: 768px) {
    #register-wide {
        visibility: hidden;
    }

    #register-narrow {
        visibility: visible;
    }
}

#about {
    background-color: #c0dfff;
    color: black;
}

#delegates {
    background-color: #606f7f;
}

#speakers {
    background-image: url("../assets/img/speakers-banner.png");
}

#sponsors {
    background-color: #ffcb73;
    color: #9e742a;
}

.banner-divider {
    height: 4px;
}

.drop-shadow {
    box-shadow: inset 0 8px 80px -10px #353535;
}

.text-light {
    color: #ddd;
}

.card {
    min-height: 349px;
}

.carousel img {
    border-radius: 50%
}